.product-list {
  list-style: none;
  padding: 0;
  margin: 1em;
  justify-content: space-around;
  display: flex;
  flex-wrap: wrap;
}
.product {
  margin: 1em;
  width: 20em;
}
.product-title {
  font-size: 2rem;
  text-align: center;
}
.product-link {
  color: inherit;
  text-decoration: none;
}
.product-image {
  width: 20em;
}
.product-description {
  margin: 1em;
}
.product-block {
  text-align: center;
}
.product-price {
  text-align: center;
  font-style: italic;
}
.product-button {
  margin: 1em auto;
  padding: 0.5em 1em;
  background: white;
  border: 0.2em solid black;
  cursor: pointer;
}