.category-list {
  list-style: none;
  padding: 0;
  margin: 1em;
}
.category {
  margin: 1em;
  padding: 0.5em 1em;
  border: 1px solid black;
  border-radius: 1em;
  text-align: center;
}
.category-link {
  color: blue;
  font-weight: bold;
  text-decoration: none;
}
.category-link-active {
  border-bottom: 2px solid black;
}